body{
    background-color: black;
    color: white;
}
h1{
    background-color: white;
    color: black;
    display: block;
    padding-left: 600px;
}
h3{
    color: red;
    background-color: white;
    padding-left: 790px;
    margin-top: 390px;
}
*{
    margin: 0px;
    padding:0px;
}