#campo{
    position: relative;
    left: 37%;
    top:29%;
    width: 420px;
    height: 370px;
    

}
#campo #form-ctt{
    position: absolute;
    display: block;
    color: cadetblue;
   


}
fieldset{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}
legend{
    font-style:bold;
    font-family:'Calibri';
    font-size: 20px;
}
#form-ctt label{
    padding: 3px;
    left:10px;
    margin-right: 5px;
    display:block;
    font-style: bold;
    text-decoration: none;
    font-family: 'Colibri';
    
}
#form-ctt input.nome-usuario{
    top: 23px;
    width: 200px;
    margin-left: 3px;
    border-radius: 20px;
    border-color: cadetblue;
    padding: 5px;
    

}
#form-ctt input.e-mail{
    
    margin-top: 2px;
    width: 200px;
    height: 20px;
    margin-left: 3px;
    border-radius: 20px;
    border-color: cadetblue;
    padding: 4px;

}
#msg{
    width: 200px;
    height: 100px;
    margin-left: 3px;
    border-radius: 15px;
    border-color: cadetblue;
    padding: 10px;
        
}
.btn{
    margin-left: 0px;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: cadetblue;
    border-color: black;
}
.btn:active{
    background-color: black;
    color: cadetblue;
    border-color: cadetblue;
}
#wpp{
    display: block;
    color: cornflowerblue;
    font-family:'calibri';
    font-size: 25px;
    padding: 15px;
    text-align: center;
}